/*********************************/
/*  Written by Nate Beatty 2012  */
/*********************************/
/* Include all custom fonts here */
@font-face {
    font-family: 'PTSansRegular';
    src: url('/assets/fonts/ptsans/pts55f-webfont.eot');
    src: url('/assets/fonts/ptsans/pts55f-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/ptsans/pts55f-webfont.woff') format('woff'),
         url('/assets/fonts/ptsans/pts55f-webfont.ttf') format('truetype'),
         url('/assets/fonts/ptsans/pts55f-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Commonly Used Mixins */
/* Global Variables */
/* Global Styles */
* {
  padding: 0;
  margin: 0; 
}

html, body {
  height: 100%;
  font-family: PTSansRegular; 
  background: url("/assets/images/background_noise.png");
}

h1 {
  font-size: 80px;
  font-weight: bold;
  padding: 20px 0px;
  color: #333;
  text-shadow: 0px 2px 3px #ddd; 
}

a {
  text-decoration: none;
  border: none;
  color: inherit;
}

a img {
  border: none; /* Fix for IE */ 
}

.wrapper {
  height: 100%;
  width: 100%;
}

.content {
  margin: 200px auto;
  width: 700px;
  text-align: center;
}

.title {
  width: 700px;
  border-bottom: solid 3px #333;
}

.footer {
  text-align: right;
  color: #888;
}